.filter-container.bg-dark
  .container
    .row.justify-content-end
      .col.filter
        .dropdown
          button.dropdown-toggle(type="button" 
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
          aria-expanded="false") Ваш город: Нижний Новгород

          .dropdown-menu(aria-labelledby="dropdownMenuButton")
            a(href="#").dropdown-item Санкт-Петербург
            a(href="#").dropdown-item Москва
            a(href="#").dropdown-item Красноярск
            a(href="#").dropdown-item Нижний Новгород