.header
  .container
    .row
      //- begin logo area
      .col-lg-2.logo-area
        a(href="#")  
          img(src="img/general/huawei_logo.png", alt="logo")
      //- end logo area

      //- begin info area
      .inf-area
        p.address.
          г. Нижний Новгород, Варварская 27/8, м.Горьковска
        p.time.
          Режим работы c 9:00 до 20:00, без обеда и выходных
      //- end info area

      //- begin tel area
      .col-lg-4.tel-area
        p.
          Прием звонков ежедневно круглосуточно
        span.tel +7 (831) 420-65-70
      //- end tel area

      //- begin btn area
      .col.btn-area
        a(href="#").btn.btn-primary Связаться с нами
      //- end btn area