-
  const services = [
    {
      title: `Качественный ремонт`,
      desc:  `Диагностика на профессиональном
              оборудовании и точное устранение
              неисправности.`,
      pic: {src: 'img/content/services/settings.png', alt: 'Картинка настройки'}
    },
    {
      title: `Оригинальные запчасти`,
      desc:  `Только качественные комплектующие
              от надежных поставщиков.`,
      pic: {src: `img/content/services/cpu.png`, alt: `Картинка процессора`}
    },
    {
      title: `Бесплатного курьера`,
      desc:  `Который заберет неисправный 
              гаджет в удобном месте в черте города.`,
      pic: {src: `img/content/services/shipping.png`, alt: `Картинка доставки`}
    },
    {
      title: `Полную диагностику`,
      desc:  `Которая точно выявит причину и масштаб поломки.`,
      pic: {src: `img/content/services/data.png`, alt: `Картинка диагностики`}
    },
    {
      title: `СКИДКУ 10% НА УСЛУГИ`,
      desc:  `Мы будем рады помочь Вам снова и 
              предоставим скидку на повторное обращение.`,
      pic: {src: `img/content/services/Group.png`, alt: `Картинка бирки со скидкой`}
    },
    {
      title: `ДОГОВОР НА РЕМОНТ`,
      desc:  `Договор станет юридической основой 
              наших гарантийных обязательств.`,
      pic: {src: `img/content/services/agreement.png`, alt: `Картинка договора`}
    },
    {
      title: `РЕМОНТ ОТ 30 МИНУТ`,
      desc:  `Сроки заранее оговариваются с 
              клиентом и не меняются по ходу 
              ремонта.`,
      pic: {src: `img/content/services/clock.png`, alt: `Картинка часов`}
    },
    {
      title: `ГАРАНТИЮ НА УСЛУГИ`,
      desc:  `Предоставляем гарантию до 3 месяцев 
              для вашей уверенности.`,
      pic: {src: `img/content/services/medal.png`, alt: `Картинка награды`}
    }
  ]